APP_CONFIG=E:/ai/ai_trains/config/app.example.yaml
PATHS_CONFIG=E:/ai/ai_trains/config/paths.example.yaml
TRAINER_CONFIG=E:/ai/ai_trains/config/trainer.example.yaml

PIP_CACHE_DIR=E:/.env_trains/cache/pip
HF_HOME=E:/.env_trains/cache/huggingface
HF_HUB_CACHE=E:/.env_trains/cache/huggingface/hub
TORCH_HOME=E:/.env_trains/cache/torch
MODELSCOPE_CACHE=E:/.env_trains/cache/modelscope
TMP=E:/.env_trains/tmp
TEMP=E:/.env_trains/tmp
NPM_CONFIG_CACHE=E:/.env_trains/cache/npm
